connectors:
  - type: ldap
    id: ldap
    name: LDAP
    config:
      host: glauth.glauth:3894
      bindDN: $ldap-secret:dex.ldap.bindDN
      bindPW: $ldap-secret:dex.ldap.bindPW

      insecureNoSSL: false
      insecureSkipVerify: true
      userSearch:
        baseDN: ou=argocd-admins,dc=catdock,dc=org
        filter: "(objectClass=posixAccount)"
        username: uid
        idAttr: uid
        emailAttr: mail
        nameAttr: uid
      groupSearch:
        baseDN: ou=users,dc=catdock,dc=org
        filter: "(objectClass=posixGroup)"
        userMatchers:
          - userAttr: uid
            groupAttr: memberUid
        nameAttr: ou
